<div class="bar">
    <input class="form-control text-center" type="text" id="adminSearchInput" placeholder="輸入要搜索的對白">
</div>

<div>
    <ul id="adminSearch" class="og-grid clearfix picturelist"></ul>
</div>