<div>
<ul id="hotests-one" class="og-grid clearfix picturelist"></ul>

</div>

<footer role="contentinfo" class="text-center">
    <nav role="navigation">
        <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">InSight</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>      
    <p>Copyright © 2013 Friday Creation Ltd. All rights reserved.</p>
</footer>           