<% if( name == "recents"){ %>
	
	<div class="page-header">
	    <div class="content clearfix">
	        <h3 id="pull-left"><i class="icon-rocket" style="color:#B228AE;"></i>最新的對白圖<span></span></h3>
	        <a href="#recent"><button id="recent-more" class="pull-right btn btn-purple more"><i class="icon-th"> </i>更多</button></a>
	    </div>
	</div>
	<ul id="recents" class="og-grid clearfix picturelist"></ul>

<% } else { %>

	<div class="page-header">
		<div class="content clearfix">
		    <h3 id="pull-left"><i class="icon-heart" style="color:#B228AE"></i>常用的對白圖<span></span></h3>
		    <a href="#hotest"><button id="hotest-more" class="pull-right btn btn-purple more"><i class="icon-th"> </i>更多</button></a>
		</div>
	</div>
	<ul id="hotests" class="og-grid clearfix picturelist"></ul>

<% } %>