<% if( name == "recents"){ %>
	
	<div class="page-header">
	    <div class="content clearfix">
	        <h3 id="pull-left"><i class="icon-gittip" style="color:#B228AE;"></i>Just On The Fly<span></span></h3>
	        <button class="pull-right btn btn-purple more"><i class="icon-th"> </i>More</button>
	    </div>
	</div>
	<ul id="recents" class="og-grid clearfix picturelist"></ul>

<% } else { %>

	<div class="page-header">
		<div class="content clearfix">
		    <h3 id="pull-left"><i class="icon-rocket" style="color:#B228AE"></i>Hotest<span></span></h3>
		    <button class="pull-right btn btn-purple more"><i class="icon-th"> </i>More</button>
		</div>
	</div>
	<ul id="hotests" class="og-grid clearfix picturelist"></ul>

<% } %>