<div class="bar">
	<h3>最新的對白圖</h3>
</div>
<div>
	<ul id="recents-one" class="og-grid clearfix picturelist"></ul>
</div>

<footer role="contentinfo" class="text-center">
    <nav role="navigation">
        <ul>
            <li><a href="http://fridaycreation.com">Contact Us</a></li>
        </ul>
    </nav>      
    <p>Copyright © 2013 <a href="http://fridaycreation.com">Friday Creation Ltd. </a>All rights reserved.</p>
</footer>    