<ul class="cbp-vimenu">
    <li>
        <a href="#" class="icon icon-logo">Logo</a>
    </li>
    <li>
        <a data-toggle="modal" href="#shareModal" rel="tooltip" class="icon-share-alt" data-placement="right" title="Share dialogue image" data-bypass></a>
    </li>
    <li>
        <a href="#search" class="icon-search" rel="tooltip" data-toggle="tooltip" data-placement="right" title="Search image" data-original-title="Tooltip on right"></a>
    </li>
    <li>
        <a href="#" class="icon-picture" rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Browse"></a>
    </li>
    <!-- <li class="cbp-vicurrent"><a href="#" class="icon-pencil">Pencil</a></li> -->
    <li>
        <a href="#" class="icon icon-archive" rel="tooltip" data-placement="right" data-toggle="tooltip" title="My collection"></a>
    </li>
    <li>
        <a href="#" class="icon-user" rel="tooltip" data-placement="right" data-toggle="tooltip" title="first tooltip">User</a>
    </li>
    
</ul>

<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Share dialogue image</h4>
    </div>
    <div class="modal-body">
    <form role="form">
      <div class="form-group">
                <label for="shareImageURL">Image url</label>
                <input type="text" class="form-control" id="shareImageURL" placeholder="http://example.com/image.jpg">

                <label for="shareImageName">Image Name</label>
                <input type="text" class="form-control" id="shareImageName" placeholder="圖片的對白">
              </div>
    </div>
    </p>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-purple">Share</button>
    </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->