<ul class="cbp-vimenu">
    <li>
        <a href="#" class="icon icon-logo">Logo</a>
    </li>
    <li>
        <a data-toggle="modal" href="#shareModal" rel="tooltip" class="icon-share-alt" data-placement="right" title="Share dialogue image"></a>
    </li>
    <li>
        <a href="search.html" class="icon-search" rel="tooltip" data-toggle="tooltip" data-placement="right" title="Search image" data-original-title="Tooltip on right"></a>
    </li>
    <li>
        <a href="#" class="icon-picture" rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Browse"></a>
    </li>
    <!-- <li class="cbp-vicurrent"><a href="#" class="icon-pencil">Pencil</a></li> -->
    <li>
        <a href="#" class="icon icon-archive" rel="tooltip" data-placement="right" data-toggle="tooltip" title="My collection"></a>
    </li>
    <li>
        <a href="#" class="icon-user" rel="tooltip" data-placement="right" data-toggle="tooltip" title="first tooltip">User</a>
    </li>
    
</ul>