<ul class="cbp-vimenu">
    <li>
        <a href="#" class="icon icon-logo">Logo</a>
    </li>
    <li>
        <a data-toggle="modal" href="#shareModal" rel="tooltip" class="icon-cloud-upload" data-placement="right" title="分享圖片" data-original-title="分享圖片" data-bypass></a>
    </li>
    <li>
        <a data-toggle="modal" href="#recent" rel="tooltip" class="icon-rocket" data-placement="right" title="最新的對白圖" data-original-title="最新的對白圖"></a>
    </li>
    <li>
        <a data-toggle="modal" href="#hotest" rel="tooltip" class="icon-heart" data-placement="right" title="常用的對白圖" data-original-title="常用的對白圖"></a>
    </li>
    <li>
        <a href="#search" class="icon-search" rel="tooltip" data-toggle="tooltip" data-placement="right" title="快速搜索" data-original-title="快速搜索"></a>
    </li>
    <% if( user && user.role && user.role == "admin" ){ %>
    <li>
        <a href="#adminPanel" class="icon-wrench" rel="tooltip" data-toggle="tooltip" data-placement="right" title="管理你媽" data-original-title="管理他媽"></a>
    </li>
    <% } %>
    <!-- <li>
        <a href="#" class="icon-picture" rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Browse"></a>
    </li>
    <li>
        <a href="#" class="icon icon-archive" rel="tooltip" data-placement="right" data-toggle="tooltip" title="My collection"></a>
    </li>
    <li>
        <a href="#" class="icon-user" rel="tooltip" data-placement="right" data-toggle="tooltip" title="first tooltip">User</a>
    </li> -->
    
</ul>

<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">分享你的對白圖片</h4>
    </div>
    <div class="modal-body">
    <form role="form">
      <div class="form-group">
                <label for="shareImageURL">對白圖片網址</label>
                <input type="text" class="form-control" id="shareImageURL" placeholder="http://example.com/image.jpg">

                <label for="shareImageName">相對應的對白</label>
                <input type="text" class="form-control" id="shareImageName" placeholder="圖片的對白">
              </div>
    </div>
    </p>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      <button type="submit" class="btn btn-purple">分享</button>
    </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->