<div class="col-md-8">
    <h1>分享各種對白圖</h1>
    <p>
        用生動的對白圖片取代你想說的話<br/>簡單又快捷！！
    </p>
</div>
<div class="col-md-4">
<h3>登記成為會員 <span>一起分享圖片網址<span></h3>
<form role="form">
  <div class="form-group">
    <input type="username" class="form-control" id="username" placeholder="Username">
    <input type="email" class="form-control" id="email" placeholder="Email">
    <input type="password" class="form-control" id="password" placeholder="Password">
    <input type="password" class="form-control" id="password-confirm" placeholder="Password Again">
  </div>
  <div class="divider">
  </div>
  <button type="submit" class="btn btn-purple btn-block">立即登記</button>
</form>
</div>