<div class="col-md-4 register">
  <h3>登記成為會員 <span>一起分享對白圖片<span></h3>
  <form role="form">
    <div class="form-group">
      <input type="username" class="form-control" id="username" placeholder="Username">
      <input type="email" class="form-control" id="email" placeholder="Email">
      <input type="password" class="form-control" id="password" placeholder="Password">
      <input type="password" class="form-control" id="password-confirm" placeholder="Password Again">
    </div>
    <div class="divider">
    </div>
    <button type="submit" class="btn btn-purple btn-block">立即登記</button>
  </form>
</div>
<div class="col-md-8">
  <div class="row">
    <div class="col-md-6 text-center extension">
      <a href="https://dl.dropboxusercontent.com/u/19548288/DialogueImage.safariextz" class="clearfix">
        <img src="images/safari-icon.png" width="180" height="180">
        <p>
          Safari Extension<br/>
          <strong>download</strong>
        </p>
      </a>
    </div>
    <div class="col-md-6 text-center extension">
      <a href="https://chrome.google.com/webstore/detail/dialogueimage/hihciiaokoaabhjgimhcjdocaenifcca" class="">
        <img src="images/chrome-icon.png" width="180" height="180">
        <p>
          Chrome Extension<br/>
          <strong>download</strong>
        </p>
      </a>
    </div>
  </div>
</div>

