<div class="col-md-8">
    <h1>Share Dialogue Image</h1>
    <p>
        Let an image speaks what you want to say<br/>it is easier to express
    </p>
</div>
<div class="col-md-4">
<h3>Sign Up <span>Make you collection<span></h3>
<form role="form">
  <div class="form-group">
    <input type="username" class="form-control" id="username" placeholder="Name">
    <input type="email" class="form-control" id="email" placeholder="Enter email">
    <input type="password" class="form-control" id="password" placeholder="Password">
    <input type="password" class="form-control" id="password-confirm" placeholder="Password Again">
  </div>
  <div class="divider">
  </div>
  <button type="submit" class="btn btn-purple btn-block">Submit</button>
</form>
</div>