<!-- Modal -->
<div class="modal fade" id="SignInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

    
    <h4 class="modal-title">用戶登入</h4>
    
    
    </div>
    <form id="signIn-form" role="form">
    <div class="form-group">
        <div class="modal-body">
        <input type="email" class="form-control" id="email" placeholder="Email">
        <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </div>
    <div class="divider"></div>
    <button type="登入" class="btn btn-purple btn-block">登入</button>
    </form>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->