footer.text-center(role='contentinfo')
  nav(role='navigation')
    ul
      li
        a(href='#') Blog
      li
        a(href='#') InSight
      li
        a(href='#') Contact
  p Copyright © 2013 Friday Creation Ltd. All rights reserved.
