ul.cbp-vimenu
  li
      a.icon.icon-logo(href='#') Logo
    li
      a.icon-share-alt(data-toggle='modal', href='#myModal', rel='tooltip', data-placement='right', title='Share dialogue image')
    li
      a.icon-search(href='search.html', rel='tooltip', data-toggle='tooltip', data-placement='right', title='Search image', data-original-title='Tooltip on right')
    li
      a.icon-picture(href='#', rel='tooltip', data-toggle='tooltip', data-placement='right', title='', data-original-title='Browse')
    //
       <li class="cbp-vicurrent"><a href="#" class="icon-pencil">Pencil</a></li> 
    li
      a.icon.icon-archive(href='#', rel='tooltip', data-placement='right', data-toggle='tooltip', title='My collection')
    li
      a.icon-user(href='#', rel='tooltip', data-placement='right', data-toggle='tooltip', title='first tooltip') User